.container-fluid {
  padding: 0;
}
.landing-page {
  background-image: url(landing-background.png);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}
.borough-dropdown {
  top: 54%;
}